.custom-time-picker {
    margin-top: 20px;
    margin-bottom: 20px;
}

.MuiToggleButtonGroup-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button.MuiToggleButtonGroup-grouped {
    margin: 0 10px 10px 0;
    border-radius: 5px !important;
    background-color: transparent;
    border: 1px solid var(--border-color) !important;
    border-left: 1px solid var(--border-color);
    color: var(--text-dark-color);
}

button.MuiToggleButtonGroup-grouped:hover {
    background-color: var(--border-color) !important;
    color: var(--text-dark-color);
}

.MuiToggleButtonGroup-grouped.Mui-disabled {
    background-color: #ebebeb;
    color: var(--border-color);
    border: 1px solid var(--border-color) !important;
}

.MuiToggleButtonGroup-grouped.Mui-selected {
    background-color: #c0c0c0 !important;
    color: var(--text-dark-color) !important;
}

@media screen and (max-width: 768px) {
    .MuiToggleButtonGroup-root {
        justify-content: center;
    }

    .MuiToggleButtonGroup-grouped {
        margin: 0 10px 10px 0;
        padding: 7px 20px !important;
    }
}