.selector-for-some-widget {
  box-sizing: content-box;
}

:active {
  background-color: inherit !important;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.5vw;    
}

* {
  box-sizing: border-box;
}

#root {
  flex-direction: column;
  padding: 0;
  height: 100vh;
}

h2, a, p {
  margin: 0;
}

a {
  font-size: 16px;
}

div {
  display: flex;
  width: 100%;
}

button {
  padding: 10px 24px;
  border-radius: 10px;
  border: none;
  background-color: #A96DA3;
  color: white;
  font-size: 16px;
}

button:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  cursor: pointer;
}


#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

.root-welcome {
  height: 100vh;
}

nav > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  margin-right: 30.5px;
  text-decoration-line: none;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

section {
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input[type="submit"] {
  cursor: pointer;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  margin-bottom: 20px;
}

.div-row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.div-column {
  flex-direction: column;
  align-items: center;
}

:focus-visible {
  box-shadow: none !important;
  outline: none;
  background-color: transparent !important;
}