/* Page settings */

.main-content {
    justify-content: space-between;
    overflow-y: auto;
    height: 100vh; 
    margin-left: 0;
    padding-left: 5%;
    background-image: url(../../images/background-main.png);
}

.main-page {
    width: 100%;
    height: 100vh;
}

/* Sidebar navigation */

.nav-div {
    width: 25%;
    border: none;
    background-color: #b296b8;
    height: 100vh;
    margin: 0;
    padding-bottom: 5%;
    justify-content: space-between;
    position: fixed;
    top: 10%;
    left: -25%;
    z-index: 1000;
}

.opened-menu {
    left: 0;
}

.menu-button {
    position: absolute;
    left: 100%;
    background-color: #b296b8;
    width: 40px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    color: var(--white-color);
}

.menu-item {
    color: var(--white-color);
    margin-bottom: 40px !important;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 10px
}

.menu-item:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    color: white;
}

.menu-item.active {
    text-decoration: none;
}

nav {
    align-items: flex-start !important;
    border: none;
    padding: 0;
    margin: 8% 0 0 0;
}

.logout button {
    background-color: transparent;
    margin-bottom: 30px;
    margin-right: 40px;
}

.logout .menu-item {
    text-transform: none;
}

/* Navigation cards */

.nav-cards {
    justify-content: space-between;
    margin-bottom: 40px;
    width: 75%;
    margin-top: 10%;
}

.nav-cards h2, .nav-cards p {
    width: 100%;
    text-align: center;
}

.nav-cards h2 {
    font-weight: 400;
}

.nav-cards p {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
}

.menu-item-card {
    width: 20%;
    height: 125px;
    background-color: var(--sections-gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    text-align: center;
}

.menu-item-card.active {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.menu-item-card:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    color:var(--primary-color);
}

.menu-item-card .boot-icon {
    color: var(--primary-color);
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
}

.menu-item-card.active .boot-icon {
    color: var(--white-color);
}

.toggle-mobile {
    display: none;
}

.outlet {
    width: 75%;
    padding-bottom: 30px;
}

.main-form-section {
    background-color: var(--sections-gray-color);
    padding: 0;
    border-radius: 10px;
    width: 100%;
}

.main-form-section:active {
    background-color: var(--sections-gray-color) !important;
}

.info-form-section {
    width: 40%;
    height: 100%;
    background-color: var(--primary-color);
    padding: 30px 30px;
    border-radius: 10px 0 0 10px;
}

.form-section {
    height: 100%;
    width: 60%;
    padding: 20px 30px;
}

.info-form-section h3 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px !important;
    color: var(--white-color);
}

.headline-mobile {
    display: none;
}

.form-section input {
    border: none;
    display: inline;
    width: 85%;
    height: 40px;
    margin: 0;
}

.form-section form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 80%;
}

.form-section button {
    padding: 7px 25px;
}

button.button-back, button.button-back:hover, button.button-back:active {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.form-places {
    border-radius: 5px;
    background-color: #ffffffb4;
    margin-bottom: 20px;
    height: 55px;
    padding: 5px 15px;
    gap: 10px;
    justify-content: flex-start;
}

.form-places p {
    font-size: 14px;
}

.form-places svg {
    height: 12px;
    width: 12px;
    color: #000;
}

.form-places:active {
    background-color: #ffffffb4 !important;
}

.chanegable-form {
    height: 100%;
    align-items: flex-start;
}

.step-form {
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.button-area {
    gap: 20px;
}

.form-section ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.form-section li {
    display: flex;
    align-items: center;
}

.form-section li:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 40px; 
    height: 1px; 
    background-color: #CCCCCC;
    margin: 0 0.5em; 
}

.form-section li {
    font-size: 24px;
    color: #CCCCCC;
}

.form-section .active-li {
    color: var(--accent-color);
}

.contact-confirm {
    align-items: flex-start;
    border-radius: 5px;
    border: 0.5px solid var(--border-color);
    padding: 20px;
    margin-right: 20%;
    gap: 10px;
}

.contact-confirm span {
    color: #A96DA3;
    margin-right: 10px;
}


@media  screen and (max-width: 768px) {

    .main-content {
        padding-left: 0;
        background-image: url(../../images/background-main-mob.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    /* Nav cards section */

    .nav-cards{
        width: 90%;
        margin-top: 35%;
    }

    .nav-cards p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu-item-card {
        height: 60px;
        justify-content: center;
    }

    .menu-item-card .boot-icon {
        width: 22px;
        height: 22px;
        margin-bottom: 0;
    }

    .menu-item-card span {
        display: none;
    }

    /* Outlet */

    .outlet {
        width: 90%;
    }

    /* Sidebar navigation */

    .menu-button {
        height: 35px;
        padding: 0;
        justify-content: center;
    }

    .menu-button svg {
        width: 24px;
        height: 24px;
    }

    .nav-div {
        width: 60%;
        left: -60%;
    }

    .opened-menu {
        left: 0;
    }

    .toggle-mobile {
        display: flex;
        position: absolute;
        top: 10%;
        height: 40px;
        background-color: #b296b8;
    }

    .menu-item {
        margin-bottom: 20px;
    }

    nav {
        margin-top: 15%;
    }

    nav > a {
        margin: 0;
        font-size: 14px;
    }

    .logout {
        margin-bottom: 15%;
    }

    .logout button {
        font-size: 14px;
    }

    .main-form-section {
        border-radius: 10px;
        padding: 20px;
    }

    .form-section h2 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .form-section form {
        justify-content: center;
        width: 100%;
    }

    .info-form-section {
        display: none;
    }

    .form-section {
        width: 100%;
        padding: 0;
    }

    .chanegable-form {
        align-items: center;
    }

    .headline-mobile {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .step-form {
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .button-area {
        justify-content: center;
    }

    .contact-confirm {
        margin-right: 0;
    }
}