.nav-div {
    width: 25%;
    border: none;
    background-color: #b296b8;
    height: 100vh;
    margin: 0;
    padding-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10%;
    left: -25%;
    z-index: 1000;
}

.nav-div:active {
    background-color: #b296b8 !important;
}

.opened-menu {
    left: 0;
}

.menu-button {
    position: absolute;
    left: 100%;
    background-color: #b296b8;
    width: 40px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    color: #fff;
}

.main-content {
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    height: 100vh; 
    margin-left: 0;
    margin-top: 5%;
    padding-left: 5%;
    background-image: url(../../images/background-main.png);
}

.main-page {
    width: 100%;
    height: 100vh;
}

.menu-item {
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 10px
}

.menu-item:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    color: white;
}

.menu-item.active {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 8%;
}

nav > a {
    margin: 0;
    font-size: 16px;
}

.logout button {
    background-color: transparent;
    margin-bottom: 30px;
    margin-right: 40px;
}

.logout .menu-item {
    text-transform: none;
}

.nav-cards {
    justify-content: space-between;
    margin-bottom: 40px;
    width: 75%;
}

.menu-item-card {
    width: 20%;
    height: 125px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: #7A5980;
    text-align: center;
}

.menu-item-card.active {
    background-color: #7A5980;
    color: white !important;
}

.menu-item-card a {
    color: #7A5980;
}

.menu-item-card.active a {
    color: white;
}

.menu-item-card:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    color: #7A5980;
}

.nav-cards h2, .nav-cards p {
    width: 100%;
    color: #3B3B58;
    text-align: center;

}

.nav-cards h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 7%;
}

.nav-cards p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
}

.outlet {
    width: 75%;
    padding-bottom: 30px;

}

.menu-item-card .boot-icon {
    color: #7A5980;
    width: 25px;
    height: 25px;
    margin-bottom: 15px;
}

.menu-item-card.active .boot-icon {
    color: white;
}

.toggle-mobile {
    display: none;
}


@media  screen and (max-width: 768px) {

    .main-content {
        margin-top: 16%;
        padding-left: 0;
        background-image: url(../../images/background-main-mob.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
    }

    .menu-item-card span {
        display: none;
    }

    .menu-button {
        height: 35px;
        padding: 0;
        justify-content: center;
    }

    .menu-button svg {
        width: 24px;
        height: 24px;
    }

    .nav-div {
        width: 60%;
        left: -60%;
    }

    .opened-menu {
        left: 0;
    }

    .toggle-mobile {
            display: flex;
            position: absolute;
            top: 10%;
            height: 40px;
            background-color: #b296b8;
    }

    .menu-item {
        margin-bottom: 20px;
    }

    nav {
        margin-top: 15%;
    }

    nav > a {
        margin: 0;
        font-size: 14px;
    }

    .logout {
        margin-bottom: 15%;
    }

    .logout button {
        font-size: 14px;
    }

    .main-page {
        margin-top: 12%;
    }

    .nav-cards{
        width: 90%;
    }

    .nav-cards p {
        padding-left: 25px;
        padding-right: 25px;
    }

    .menu-item-card {
        height: 60px;
        justify-content: center;
    }

    .menu-item-card .boot-icon {
        width: 22px;
        height: 22px;
        margin-bottom: 0;
    }

    .outlet {
        width: 90%;
    }

    section.form-section {
        border-radius: 10px;
    }
}