.contacts h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts {
    justify-content: flex-start;
    align-items: flex-start !important;
}

.contacts p {
    font-size: 16px;
}

p.white-font {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

button.add-new {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 30px;
}