/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

body {
    margin: 0;
    overflow-x: hidden;
    font-size: 1.5vw;    
}

* {
    box-sizing: border-box;
}

#root {
    flex-direction: column;
    padding: 0;
    height: 100vh;
}

h2, a, p {
    margin: 0;
}

a {
    font-size: 16px;
}

div {
    display: flex;
    width: 100%;
}

button {
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    background-color: #A96DA3;
    color: white;
    font-size: 16px;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    cursor: pointer;
}

