.header {
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    height: 10%;
    position: fixed;
    z-index: 2000;
}

.header-welcome {
    background-color: transparent !important;
}

.header-buttons {
    width: 50%;
    justify-content: flex-end;
    gap: 20px;
}

.header h2 {
    margin-left: 30px;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}

.header h2:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.button-popup, .sign-up-popup {
    display: inline;
    width: auto;
}

button.logout-button, button.logout-button:hover {
    color: var(--white-color);
    padding: 0;
}

@media (max-width: 768px) {

    .header h2 {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 400;
    }

    .header-buttons {
        width: 60%;
        gap: 10px;
    }

    .header-welcome button {
        padding: 5px 15px;
        margin: 0;
    }
    
    .header-welcome h2 {
        color: #A96DA3;
    }

    .header button {
        font-size: 14px;
    }

}
