.header {
    justify-content: space-between;
    background-color: #A96DA3;
    padding: 10px 0px;
    height: 10%;
    position: fixed;
    z-index: 10;
}

.header:active {
    background-color: #A96DA3 !important;
}

.header-welcome {
    background-color: transparent;
}

.header-buttons {
    width: 50%;
    justify-content: flex-end;
    margin-right: 30px;
}

.header h2 {
    margin-left: 30px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.header h2:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.header button.button-login {
    background-color: transparent;
    color: white;
}

.header button {
    /* background-color: white;
    color: #A96DA3; */
}

.header-welcome button {
    /* background-color: #53489C;
    color: white; */
    margin-right: 20px;
    border-radius: 10px;
}


.header-welcome .header-buttons {
    margin-right: 10px;
}

.button-popup {
    display: inline;
    width: auto;
}

@media (max-width: 768px) {

    .header h2 {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 400;
    }

    .header-buttons {
        margin-right: 0;
    }

    .header-welcome button {
        margin-right: 10px;
        padding: 5px 15px;
    }

    .css-1y37u7z {
        background-color: white !important;
        color: #A96DA3 !important;
        border-color: #A96DA3 !important;
    }

    .css-1vmt3n3 {
        background-color: #A96DA3 !important;
        color: white !important;
    }
    
    
    .header-welcome h2 {
        color: #A96DA3;
        font-size: 24px;
        margin-left: 15px;
    }
    
    .header-welcome .header-buttons {
        margin-right: 0;
    }
    
}
