.header {
    justify-content: space-between;
    background-color: #A96DA3;
    padding: 10px 0px;
    height: 10%;
    position: fixed;
    z-index: 10;
}

.header-welcome {
    background-color: transparent;
}

.header-buttons {
    width: 50%;
    justify-content: flex-end;
    margin-right: 30px;
}

.header h2 {
    margin-left: 30px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.header h2:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.header button.button-login {
    background-color: transparent;
    color: white;
}

.header button {
    background-color: white;
    color: #A96DA3;
}

.header-welcome button {
    background-color: #53489C;
    color: white;
    margin-right: 20px;
    border-radius: 10px;
}

.header-welcome button.button-login {
    background-color: white;
    color: #53489C;
    border: 1px solid #53489C;
    margin-right: 20px;
}


.header-welcome .header-buttons {
    margin-right: 10px;
}

@media (max-width: 768px) {


    .header-welcome button {
        background-color: #A96DA3;
        color: white;
        margin-right: 10px;
        padding: 5px 15px;
    }
        
    
    .header-welcome button.button-login {
        background-color: white;
        color: #A96DA3;
        border: 1px solid #A96DA3;
        margin-right: 10px;
        padding: 4px 15px;
    }
    
    
    .header-welcome h2 {
        color: #A96DA3;
        font-size: 24px;
        margin-left: 15px;
    }
    
    .header-welcome .header-buttons {
        margin-right: 5px;
    }
    
}
