.contact-list {
    background-color: #F5F5F5;
    padding: 30px 20px 30px 30px;
    border-radius: 20px;
    margin-top: 20px;
    width: 600px;
    align-items: stretch !important;
    justify-content: flex-start;
}